@media(min-width: 769px) {
    .menuBurger {
        display: none;
    }
.navbar {
    display: flex;
    background-color:#3D4950;
    width: 100%; 
    justify-content: space-between;
}
.navbar ul {
    display: flex;  
    list-style: none; 
}
.navbar ul li {
    justify-content: space-between;
    margin-right: 6vw;
}
.navbar ul li a {
    text-decoration: none;
    color: white;
}
.principal {
    font-size: 20px;
    margin-top: 8px;
}
.items {
    margin-top: 12px;
    margin-left: -80px;
    display: flex;
    position: relative;
}
.items .item-li {
    margin-right: 0;
    margin-left: 10px;
}
.items .item-li-home {
    margin-right: 0;
    margin-left: 5px;
}
.disabled {
    margin-left: 15px;
    margin-top: 12px;
    position: relative;
}
.disabled .disabledProp {
    color: gray;
    cursor: not-allowed
}
.search {
    margin-top: 5px;
    display: flex;
    position: relative;
    
}
.search {
    margin-right: 3%;
}
.search input {
    border-radius: 10px;
    height: 30px;
    width: 17vh;
}

.search a {
    border: 1px solid green;
    border-radius: 10px; 
    width: 50px; 
    height: 30px;
    line-height: 25px;
    text-decoration: none;
    text-align: center;
}
}
@media(max-width: 768px) {
    body {
        background-color: black;
    }
    .navbar {
        display: none;
    }
    .menuBurger {
        display: flex;
        flex-direction: column;
    }
    .searchProduct input {
        border-radius: 10px;
        width: 75%;
        border-color: red;
        background-color: black;
    }
    .searchProduct a {
        text-decoration: none;
        border: 1px solid red;
        border-radius: 10px;
        color: red;
        background-color: black;
    }
    .Platos ul {
        list-style: square;
        color: white;
    }
    .Platos ul li:before {
        content: '\25AA';
    }
    .Platos ul li {
        margin-right: 20%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
}